{% extends 'app.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/home_index.css' %}">

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
      <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
  </div>
</nav>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
</div>
<div class="w-100"></div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
</div>
<div class="w-100"></div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="111" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><img class="fit-picture" src="https://source.unsplash.com/random/" width="320"
            height="150" alt="Grapefruit slice atop a pile of other slices"></h5>
        <p class="card-text">Описание товара</p>
        <a href="#" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}