<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ce2029;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="#" width="150" height="50"
        alt="Фотография"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <button type="button" style="background: #ce2029" class="btn btn-danger btn-lg"
            href="#">Главная</button>
        </li>

        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle btn-lg" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item btn-danger" href="#">Меняю кафе</a>
              <a class="dropdown-item" href="#">Барная карта</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-outline-light btn-lg">Личный кабинет</button>
  </div>
</nav>