{% extends 'app.html' %}

{% load static %}

{% block links %}

<link href="{% static 'styles/home/index.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container">
    <div class="header shadow wood-background">
        <img src="{% static 'images/logos/bear-orange-red-left.png' %}" class="logo" style="width: 2.5em;">
        <h1 class="text-light pe-2" style="font-family: 'Mysteria Nouveau'; font-size: 50px;">Каталог</h1>
        <img src="{% static 'images/logos/bear-orange-red-right.png' %}" class="logo" style="width: 2.5em;">
    </div>


    <div class="row mt-5">
        <div class="col">
            <form action="{% url 'products_search' %}" method="get">
                <div class="input-group">
                    <button onclick="location.href='{% url 'home' %}'" class="btn btn-primary me-2">Назад</button>
                    <input type="text" name="q" class="form-control" placeholder="Поиск">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Найти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        {% if products %}
        {% for product in products %}
        <div class="col-sm-4 mb-3">
            <div class="card h-100">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ product.quantity }} в наличии</small></p>
                    <p class="card-text">Материалы:
                        {% for material in product.materials.all %}
                        {{ material.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Товары не найдены.</p>
        {% endfor %}
        {% else %}
        <p>Товары не найдены.</p>
        {% endif %}
    </div>

</div>
{% endblock %}``