/*
Эти стили стили применяются для каждой страницы
и необходимы для корректного отображения страниц
*/

.on-click-unfold--modal {
    width: 0;
    height: 0;
    overflow: hidden;
    /* display: none; */
}