{% extends 'app.html' %}

{% block content %}
<div>
            <h1>Узнайте о последних наших новостях.</h1>
            <br>
                <article>
                    <h2>Почему мы любим керамику ручной работы?</h2>
                    <p>В нашей компании мы считаем, что каждый кусок керамики должен быть выполнен с осторожностью и
                        намерением. Наша керамика ручной работы не только красивые предметы, но они несут в себе клеймо
                        создателя и уникальную историю. От наших маленьких чашек до больших ваз, каждый кусочек является
                        уникальным и отражает красоту несовершенства.</p>
                    <p>Подробнее о том, почему мы любим керамику ручной работы на нашем блоге</a>.</p>
                </article>
            </br>
            <div>
                <p>&copy; 2023. Сделанно с любовью Ремесленики.</p>
            </div>
</div>




{% endblock %}